.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 25px;
  font-weight: 500;
  color: #2a363b;
}

.link:hover{
  text-shadow: 3px 3px 10px rgb(27, 141, 135), -3px -3px 10px yellow;
}

.activeLink {
  composes: link;
  color: rgb(57, 91, 202);
  text-shadow: 3px 3px 10px rgb(27, 141, 135), -3px -3px 10px yellow;
}

.headerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(199, 17%, 75%);
    margin-bottom: 2em;
    height: 80px;
}

.name {
  padding: 12px;
  font-size: 21px;
  font-weight: 500;
  margin-right: 12px;
}

.navMenu{
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
}

@media screen and (max-width: 599.98px) {
  .headerNav{
    display: none;
  }

  .navMenu{
    display: flex;
  }

  .mobileMenu, .userMobileMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 0;
    width: 50%;
    height: 30%;
    border-top: 1px solid hsl(199, 17%, 75%);
    background: linear-gradient(151.61deg,
          rgba(196, 196, 196, 0.25) -7.48%,
          rgba(196, 196, 196, 0) 106.62%);
    z-index: 1000;
  }

  .userMobileMenu{
    background: linear-gradient(151.61deg, #222222 -7.48%, rgba(196, 196, 196, 0) 106.62%);
    z-index: 1000;
  }

  .name{
    color: #fff;
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 600px) {
  .mobileNavigation{
    display: none;
  }
}